@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;

  }
  
  .styledtext{
    font-family:sans-serif, Arial, Helvetica, sans-serif;

}
::-webkit-scrollbar{
  width: 5px;
  z-index: 00;
  position: relative;
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
 width: 8px;
 height: 10px;
  background: rgb(0, 174, 255);
  border-radius: 20px;
}

.chat-head{ top: 2.5rem; left: 3.7rem }
